<div class="container">
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Quantite</th>
            <th>Prix unitaire</th>
            <th>Total HT</th>
            <th>Retirer</th>
        </tr>
        </thead>
        <tbody>
        {% if listProduct|length == 0 %}
            <tr>
                <td colspan="5" class="text-center">
                    <span>votre panier est vide</span>
                </td>
            </tr>
        {% else %}
            {% for product in listProduct %}
                <tr>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        <select id="{{ product.id }}" class="update_qte">
                            {% for i in 1..20 %}
                                <option value="{{ i }}" {% if i == panier[product.id] %}selected{% endif %}>
                                    {{ i }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="price">
                        {{ product.price }}
                    </td>
                    <td class="sommeProduct">
                        {{ calculCout(product) }}
                    </td>
                    <td>
                        <span id="{{ product.id }}" class="lien_retirer">retirer</span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <a href="{{ path('product_index') }}" class="btn btn-primary ">Ajouter Produit</a>
    {% if listProduct|length > 0 %}
        <a href="#tel" class="btn btn-primary validation " data-toggle="modal">Valider Panier</a>
    {% endif %}
    <div class="pull-right text-info"> {{ 'TOTAL : ' }}<span id="totalpanier">{{ calculCoutPanier() }}</span></div>
</div>