<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" {% block description %} {% endblock %} ">
    <meta name="author" content="Horchani Walid">
    <title> {% block title %} Bayrouti Mayonaise {% endblock %} </title>
    <script src="{{ asset('jquery/jquery-3.3.1.js') }}"></script>
    <link rel="icon"  href="{{ asset('apple-icon-76x76.png') }}">

{#    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>#}

    <link href='{{ asset('font-awesome/css/font-awesome.min.css') }}' rel='stylesheet'>

    {# <link href='{{ asset('bootstrap/css/bootstrap.min.css') }}' rel='stylesheet'>
     <link href='{{ asset('css/clean-blog.min.css') }}' rel='stylesheet'>
     <link href="{{ asset('css/style.css') }}" rel="stylesheet" />#}

{#fichier generer grace a grunt #}
    <link href='{{ asset('css/min.css') }}' rel='stylesheet'>

    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- Navigation -->
{% include ':module_Used:nav_bar.html.twig' %}
{% block header %}
{% endblock %}

{#<div class="container">#}
    {% include ':module_Used:flashMsg.html.twig' %}
    {% block body %}
    {% endblock %}
{#</div>#}

<!-- Footer -->
{% include ':module_Used:footer.html.twig' %}
{#<script src="{{ asset('jquery/jquery.min.js') }}"></script>
<script src="{{ asset('popper/popper.min.js') }}"></script>
<script src="{{ asset('js/clean-blog.min.js') }}"></script>
<script src=" {{ asset('bootstrap/js/bootstrap.min.js') }}"></script>#}

{#fichier js generer par grunt concatenation de tous les fichier js necessaire#}
<script src=" {{ asset('js/may_uglify.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
