{% extends "base.html.twig" %}
{% block header %}
    {% include ":module_Used:header.html.twig" with {'url': asset('image/4.jpg'),
    'titre':'our product',
    'description': 'among our service we can provide you by our product'
    } %}
{% endblock %}
{% block body %}
    {% for product in products %}

        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        {{ product.price }}<br>
        {#<img src="{{ product.images.webPath }}" alt="">#}
        <button class="btn btn-default">ajouter au Panier<i></i></button>
        <a href="{{ path('comment_new', {'id': product.id }) }}">
            <button>commenter ce produit</button>
        </a>
        <a href="{{ path('product_show', {'id': product.id }) }}">
            <button>show</button>
        </a>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}