{% set sessionPanier = app.session.get('panier') %}

{% extends "base.html.twig" %}

{% block header %}
    {% include ":module_Used:header.html.twig" with {'url': asset('image/4.jpg'),
    'titre':'our product',
    'description': 'among our service we can provide you by our product'
    } %}

{% endblock %}
{% block body %}

    {% for product in products %}

        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        {{ product.price }}<br>

        {% set rem = 0 %}

        {#on va parcourir le tableau pour verifier si le produit existe dans le panier#}
        {% for key, value in sessionPanier %}
            {#si ce produit existe dans le panier  on assigne au variable rem recoit 1#}
            {% if key == product.id %}
                {% set rem = 1 %}

            {% endif %}

        {% endfor %}

        {#si le variable rem = 1 cad que le produit existe dans le panier
         et on va mettre un boutton pour retirer ce product#}
        <button class="btn btn-default buttonAddDelete" value="{{ product.id }}" name= {% if rem == 1 %} "delete" {% else %} "add" {% endif %}>
            {% if rem == 1 %}Retirer{% else %} Add {% endif %}<i></i></button>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p id="demo">hhhhh</p>
    {% if app.session.has('panier') %}
        <a href="{{ path('panier_show') }}">
            <button>Panier</button>
        </a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/ecommerce/js/addRemoveButton_productPanier.js') }}"></script>
{% endblock %}

