{% extends "base.html.twig" %}
{% block header %}
    {% include ":module_Used:header.html.twig" with {'url': asset('image/4.jpg'),
    'titre':'our product',
    'description': 'among our service we can provide you by our product'
    } %}
{% endblock %}
{% block body %}
    {% for product in products %}

        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        {{ product.price }}<br>
        {#<img src="{{ product.images.webPath }}" alt="">#}
        <button class="btn btn-default" onclick=" addToPanier({{ product.id }}) ">
            ajouter au Panier<i></i></button>

        <a href="{{ path('product_show', {'id': product.id }) }}" name="lienDetailProduct">
            <button class="btn btn-default" onclick="changeUrl(this)">Details</button>
        </a>

        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p id="demo">hhhhh</p>

    {#peitit comment #}

    <script>

        var inPanier = [];
        function addToPanier(id) {

            inPanier.push(id);

            addMenuPanier();

        }

        function addMenuPanier() {

            if (inPanier.length > 0) {
                var menu = document.createElement("button");
                menu.innerHTML= "acceder au panier";

                document.getElementById("demo").appendChild(menu);


            }

        }

        function changeUrl(element) {

            var lien = element.parentNode;

            if (inPanier.length != 0)
                lien.setAttribute('href', lien.getAttribute('href') + '?' + inPanier.join('&'));

            console.log(lien.getAttribute('href'));

        }


    </script>

{% endblock %}
